@model AppGestionEMS.Models.GrupoClases

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GrupoClases</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.asiGdocente.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asiGdocente.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maxAlum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maxAlum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.minAlum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.minAlum)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
